# dependencies
Eurodle/node_modules
Eurodle/.pnp
.pnp.js

# testing
Eurodle/coverage

# production
Eurodle/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor folders and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# JetBrains-specific
Eurodle/.idea/
Eurodle/.idea/workspace.xml
/eurodle/node_modules
eurodle/.idea/workspace.xml
/Eurodle/node_modules
/Eurodle/node_modules
