div{
    color: white;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--bg-dark);
}



.guess-singer-country-container {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}

.guess-singer-country-container .heart-text{
    display: none;
}


.guess-singer-country-mapa-wrapper {
    width: 100%;
    max-width: 90vw;
    aspect-ratio: 800 / 446;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    position: relative;
    z-index: 1;
}

.pista-pais{
    position: absolute;
    left: 800px;
    top: 300px;
    z-index: 10;

}

.pais-seleccionado{
    position: absolute;
    z-index: 10;
    border: 2px solid #3a3a3c;
    border-radius: 10px;
    background: #f9f9f9;
    top: 750px;
    right: 840px;
}

.guess-singer-country-mapa {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #404040;
    border: 2px solid #3a3a3c;
    border-radius: 10px;
    transform: scaleY(1.2); /* <-- ESTIRADO VERTICAL */

}







.guess-singer-country-mapa[width][height] {
    width: 100% !important;
    height: max-content !important;
}


.guess-singer-country-message{
    font-size: 1rem;

    padding: 5px;
    border:  2px solid #1e88e5;
    border-radius: 10px;
    background: #f9f9f9;
    color: #1e88e5;
}

.guess-singer-country-singer{
    /*font-size: 2rem;*/
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(243, 117, 180);
    text-align: center;
}

.guess-singer-country-country-selected{
    color: #1a1a1a;
    padding: 10px;
    font-weight: bold;
    margin: unset;
}

.guess-singer-country-btn{

    position: absolute;
    top: 200px;
    right: 15px;
    margin-right: 5px;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    background-color: #666666;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#columnaSVG{

    flex: 0 0 200px;
    display: flex;

}

svg {
    background: #3a3a3c;
    max-width: 100%;
    height: auto;
}






/* Color del pais correctamente adivinado */
.correct-country {
    fill: #2584d8 !important;
    stroke: black;
    pointer-events: none;
}



/* Color de paises seleccionados de forma erronea */
.wrong-country {
    fill: #dd0045 !important;
    stroke: black;
    pointer-events: none;
}

.guidance-label__text{
    font-weight: bold;
    margin-top: 10px;
    padding: 4px;
    position: relative;
    top: 30px;
    border-radius: 5px;
    background: #f9f9f9;
    color: #1e1e1e;
    border: 1px solid #1e1e1e;
    z-index: 10;
}


@media (max-width: 768px) {
    .guess-singer-country-mapa {
        width: 400px;
        height: max-content;
    }

    .guess-singer-country-container {
        position: relative;
    }

    .guess-singer-country-btn {
        position: static;
        margin: 1rem auto;
        display: block;
        width: 90%;
        font-size: 1rem;

    }

    /* Color del pais correctamente adivinado */
    .correct-country {

        fill: #2584d8 !important;
        stroke: black !important;
        stroke-width: 1 !important;
        pointer-events: none;
    }


    /* Color de paises seleccionados de forma erronea */
    .wrong-country {
        fill: #dd0045 !important;
        stroke: black;
        pointer-events: none;
    }
}

    @media screen and (orientation: portrait)  and  (max-width: 414px){
        .guess-singer-country {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            /*background: #000;*/
            color: white;
            text-align: center;
            font-size: 1.5rem;
        }

        .guess-singer-country-container {
            display: none;
        }

        .rotate-warning {
            display: block;

        }

        .rotate-warning h2 {
            font-size: 50px;
        }

        .rotate-warning p{
            color: #888888;
        }

        .rotate-warning i{
            font-size: 50px;
        }

        body{
            overflow-y: hidden;
        }




    }

    @media screen and (orientation: landscape) and  (max-width: 896px){
        .guess-singer-country-container {
            padding: 0.5rem;

        }

        .guess-singer-country-container h2,h3{
            margin: 5px;
            font-size: 25px !important;
            z-index: 10; /* Número mayor → encima */
            font-weight: bold;
            background-color: #1a1a1a;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;

        }

        .guess-singer-country-singer {
            font-size: 40px; /* Aumenta ligeramente para visibilidad */
            z-index: 10; /* Número mayor → encima */
            background: #1a1a1a;
            margin: 0;
            padding: 0;
        }



        .guess-singer-country-message {
            font-size: 15px;
            position: fixed;
            right: 50px;
            top: 70px;

        }

        .guess-singer-country-btn {
            font-size: 1rem;
            position: fixed;
            top: unset;
            bottom: 10px;
            right: 10px;
        }

        .guess-singer-country-mapa-wrapper{
            position: absolute;
            top: -34px;
        }


        .guess-singer-country-singer,
        .guess-singer-country-message {
            text-align: center;
            z-index: 10; /* Número mayor → encima */



        }

        .guess-singer-country-mapa {
            width: 800px;
            height:350px;
            position: absolute;
            top: -100px;
            z-index: 0;
        }

        .guess-singer-country-container #hearts{
            position: absolute;
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            background: #1e1e1e;
            border-radius: 15px;
            left: 45px;
            top: 10px;
            z-index: 10; /* Número mayor → encima */

        }

        .guess-singer-country-container .heart-HP{
            width: 50px !important;
            height: auto!important;
        }

        .guess-singer-country-country-selected{
            display: none;
        }

        .rotate-warning {
            display: none;
        }

        .guidance-label__text{
            z-index: 10;
            margin-top: unset;
            top: unset;
            font-weight: bold;
            position: fixed;
            border-radius: 5px;
            background: #f9f9f9;
            bottom: 0;
            color: #1e1e1e;
            border: 1px solid #1e1e1e;
        }


    }




