/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/* Styles para GuessSongGame */

.eurodle-guess-song-wrapper {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}

.guess-form {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.inputYC {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.guess-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.guess-form button {
  margin-top: 10px;
  padding: 8px 16px;
}

.end-buttons {
  display: flex;
  justify-content: space-around;

  padding: 2%;
}

.guess-btn {
  background: linear-gradient(135deg,
  rgba(230, 0, 38, 0.7),
  rgba(208, 0, 111, 0.7),
  rgba(123, 31, 162, 0.7),
  rgba(0, 176, 240, 0.7)
  ) 0 0;
  background-size: 200%, 200%;
  color: var(--text);
  /*border: 2px solid #3a3a3c;*/
  border: none;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s ease-in-out, transform 0.2s ease;
  width: 47%;
}

.guess-btn:hover {
  background-size: 100%, 100%;
  background-position: right bottom;
  transform: scale(1.02);
}

.icono-pista {
  color: #28a745; /* verde Bootstrap */
  font-size: 0.9rem; /* más pequeño */
  margin-left: 6px; /* espacio respecto al texto */
  vertical-align: middle; /* alinea con el texto */
}

.shuffle-icon {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 5%;
}

.guess-title{
  margin-top: 4%;
  text-align: center;
  display: block;
  width: 100%;
}

.letrasAdivinanza {
  display: inline-block;
  /*position: relative;*/
  /*display: inline-block;*/
  /*font-weight: bold;*/
  /*!*background: #cb0273;*!*/
  /*background: linear-gradient(90deg,*/
  /*rgba(0, 176, 240, 0.9),*/
  /*!*rgba(123, 31, 162, 0.9),*!*/
  /*rgba(208, 0, 111, 0.9)*/
  /*!*rgba(230, 0, 38, 0.9)*!*/
  /*);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/

  /*!* Para otros navegadores que lo soporten *!*/
  /*background-clip: text;*/
  /*color: transparent;*/

  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  color: #cccccc;
  background: linear-gradient(135deg,
  rgba(0, 176, 240, 0.9),
  rgba(123, 31, 162, 0.9),
  rgba(208, 0, 111, 0.9),
  rgba(230, 0, 38, 0.9)
  );

  text-align: center;
  border-radius: 5px;
}

.letrasAdivinanza::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(1px);
  /*color: white;*/
  /*text-shadow:*/
  /*        0 0 1px white,*/
  /*        0 0 3px white,*/
  /*        0 0 6px white;*/
  /*-webkit-text-fill-color: white;*/
}

.shuffle-btn {
  background: linear-gradient(135deg,
  rgb(255, 0, 42),
  rgba(255, 49, 161, 0.7),
  rgba(187, 47, 243, 0.66),
  rgba(49, 198, 255, 0.7)
  )0 0;
  border: none;
  border-radius: 100%;
  padding: 0.7rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.7s ease-in-out, transform 0.5s ease;
  /*box-shadow: 0 0 10px rgba(40, 167, 69, 0.4);*/
}

.shuffle-btn:hover {
  transform: rotate(180deg) scale(1.35);
  background-size: 200%, 200%;
  background-position: right bottom;
}


.sugerencias {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.sugerencias li {
  padding: 10px;
  cursor: pointer;
}

.sugerencias li:hover {
  background: #f0f0f0;
}

/* Fin de styles para GuessSongGame */

/* Styles para FeedbackDisplay */
.feedback-display {

}

.heart-HP{
  width: 70px;
  filter: invert(100%);
}

.feedback-text{
  color: white;
  text-align: center;

}

.feedback-display ul {
  list-style: none;
  padding: 0;
}

.feedback-display li {
  margin: 8px 0;
}

/* Fin de styles para FeedbackDisplay */

/* Styles para ClueDisplay */


.div-pistas-table {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.pistas-table {
  width: 80%;
  align-content: center;
  align-self: center;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.pistas-table th,
.pistas-table td {
  padding: 10px;
  text-align: center;

  border-bottom: 1px solid #e0e0e0;
}

.pistas-table th {
  background-color: #da004e;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}

th span{
  color: white;
  font-weight: bold;
}

.pistas-table tr:nth-child(even) {
  background-color: #f9f9f9;
}



.pistas-table td p {
  margin: 0.2rem 0;
  font-size: 0.95rem;
}
/* Fin de styles para ClueDisplay */

/* Styles para ExtraClues */
.extra-clues {
  max-height: 300px;
  overflow-y: auto;
  margin: 20px;
  padding: 15px;
  border: 2px dashed #bbb;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.extra-clues-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.cluesTitle{
  margin-left: 1%;
}

.clue-display{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.clue-block {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.clue-block.locked {
  background-color: #e0e0e0;
  color: #888;
}

.clue-block.unlocked {
  background: linear-gradient(135deg,
  rgb(255, 0, 42),
  rgba(255, 49, 161, 0.7)
  )0 0;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Fin de styles para ExtraClues */

/* Contenedor general de los radio buttons */
.guess-method-selector {
  display: flex;
  gap: 100px;
  margin: 20px 0;
  margin-left: 100px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Estilo básico para cada opción */
.radio-option {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  line-height: 24px;
}

/* Ocultamos los radio buttons originales */
.radio-option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Crear un círculo de selección personalizado */
.radio-option input:checked + span {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

/* El círculo del radio button */
.radio-option span {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: white;
  transition: all 0.3s ease;
}

/* Estilo cuando se selecciona */
.radio-option input:checked + span {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

